<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight formula</title>
</head>
<body>
    <form action="/weight/register" method="post">

        <label for="weightdate">Date:</label>
        <input type="date" name="Date" id="weightdate">
        <br>
        
        <label for="Weight">Weight:</label>
        <input type="number" name="Weight" id="weightnumber">
        <br>
        
        <label for="weightuser">User:</label>
        <select name="User" id="weightuser">
            <option value="Hanus">Hanus</option>
            <option value="Magnus">Magnus</option>
        </select>
        <br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>