.navigation-bar{
  background-color: #f0e40e;
  position: relative;
  display: flex;
  font-size: 35px;
  box-shadow: 2px 2px 4px 4px #c4ce3d;
}

.navigation-element{
  display: flex;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.logo{
  height: 100px;
  padding: 0px;
}

.navigation-bar li{  
  display: inherit;
  margin-left: 20px;
  margin-right: 20px;
}

body{
  margin: 0px;
  font-family: Helvetica, sans-serif;
  color: black;
  background-color: #fffcdb;
}

a{
  text-decoration: none;
  color: black;
}

.form{
  display: block;
}

.form [type=date],.form [type=number],.form select {
  width: 100%;
  max-width: 400px;
  height: 40px;
  display: block;
  padding-left: 15px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form label{
  margin-left: 10px;
}

.form input[type=submit] {
  width: 100%;
  max-width: 400px;
  height: 40px;
  margin: 10px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.columns{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.column{
  margin: auto;
}

.chart {
  width: 1000px;
}